# ==========================================
# Logs
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# Dependencies
# ==========================================
node_modules/

# ==========================================
# Build
# ==========================================
dist/
dist-ssr/
build/

# ==========================================
# Environment Variables


# ==========================================
# Local Config
# ==========================================
*.local

# ==========================================
# VS Code
# ==========================================
.vscode/*
!.vscode/extensions.json

# ==========================================
# JetBrains IDE
# ==========================================
.idea/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Visual Studio
# ==========================================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?